.login-form {
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}
.login-title {
	font-size: 23px;
	line-height: 21px;
	min-height: 51px;
    padding: 10px;
    text-align: center;
}
.form-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.form-button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    border: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
.form-button:hover {
    background-color: #0069d9;
}
.form-output {
    margin-top: 20px;
    text-align: center;
}

.userIcon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: auto 5px auto auto;
}

.header-username {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-right: 10px;
    color: black;
}

.header-status {
    color: #0069d9;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 5px;
}

.authBlock {
    min-width: 60px;
    background: white;
    margin-left: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center
}